body{
    text-align: center;
    margin: 200px;
    border: 90px black dotted;

    
}

ol{
    list-style-position: inside;
    font-family: fantasy;
}
h1{
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
div{
margin: auto;
margin-bottom: 27%;
width: 30%;
/*padding-bottom: %;*/
padding: 100px;
    outline:300px solid black;
    outline-offset: 400px;
    
}
/*html{
    border: 200px solid black;
}*/
